.collarpage{
    background-color: #F2F5F5;
}


.cnav1 li{
    display: inline-block;
}

.cnav1ul{

}

.headback{
    text-decoration: none;
}



@media (max-width:858px){
    .cnav1{
        line-height: 60px;
        background-color: #DEDEE1;
    }

    .cnav1ul{
    }

    .headback{
        padding-left: 20px;
        margin-right: 0px;
        font-size: 15px;
        padding-right : 0px;
        color: black;
        font-family: Arial;
    }

    .headcollar{
        margin-top: 3px;
        margin-left: 50px;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 25px;
        font-weight: bold;
        color: black;
        font-family: Andale Mono, monospace;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
        background-color: #DEDEE1;
        border-radius: 5px;
    }

    .headsecure{
        margin-left: 10px;
        font-size: 25px;
        color: black;
        font-family: Arial;
        
    }

    /* collar */

    .collarcontent{
        margin-top: 10%;
        font-size: 20px;
    }

    .class{
        margin-left: 40px;
        font-weight: bold;
    }

    .classdropdown{
        margin-right: 30px;
    }

    #classdrop{
        width:150px;
        height: 35px;
        font-size: 20px;
        border: 1px solid #9B9B9B ;
        border-radius: 10px;
    }

    .Purchase{
        font-weight: bold;
        margin-left: 10px;

    }
    .monthyear{
        width : 150px;
        border: 1px solid #9B9B9B ;
        margin-right: 30px;
    }

    .collarupload{
        margin-left: 20px;
        font-weight: bold ;
    }

    #uploadimg{
        font-size: 15px;
    } 

    .collarBill{
        margin-left: 40px;
        font-weight: bold;
    }

    #uploadBill{
        font-size: 15px;
    }  

    .retrivebtn{
        margin-top: 60px;
        text-align: center;
        padding-bottom: 40px;
    }
    .retrive{
        font-size: 20px;
    }

}

